body {
  font-family: Arial, sans-serif;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("view.png");
  background-size: cover;          
  background-position: center;     
  background-repeat: no-repeat; 
}


h2{
    color: aliceblue;
}

.container {
  background: rgb(3, 70, 80);
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  text-align: center;
}

input {
  width: 100%;
  padding: 8px;
  margin: 6px 0;
}

button {
  padding: 8px;
  width: 100%;
  cursor: pointer;
  font-weight: bold;

}

p {
  margin-top: 15px;
  font-weight: bold;
  color: aliceblue;
}
